<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Secondpgm</display-name>
  <servlet>
  <servlet-name>one</servlet-name>
  <servlet-class>com.net.servlet.Nextone</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>two</servlet-name>
  <servlet-class>com.net.servlet.Newservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>one</servlet-name>
  <url-pattern>/open</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  <servlet-name>two</servlet-name>
  <url-pattern>/page2ser</url-pattern>
  </servlet-mapping>
</web-app>